img {
    vertical-align: middle;
    height: 82px;
    width: 90px;
}
/*img {*/
/*    border: 0;*/
/*    width: 207px;*/
/*    height: 144px;*/
/*    border: solid black;*/
/*    padding: 6px;*/
/*}*/
body{

    background-image: url("wizard-book.jpg");
}
.col-md-6{
    background-color: white;
    margin-top: 20px;
    border-radius:15px;
}

.table{
    background-color: white;
    margin-top: 20px;

}
.btn:not(:disabled):not(.disabled){
    margin-bottom: 15px;
}

#th-action{
    text-align: center;
}
